<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>llmperformance.ai report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

Here is a copy of your recent report contributed to llmperformance.ai team:

<code>
user name: <b>{{ username }}</b>
e-mail: <b>{{ email }}</b>
CPU model: <b>{{ cpu }}</b>
GPU model: <b>{{ gpu }}</b>
total duration: <b>{{ total_duration }}</b>
load duration: <b>{{ load_duration }}</b>
prompt eval count: <b>{{ prompt_eval_count }}</b>
prompt eval duration: <b>{{ prompt_eval_duration }}</b>
prompt eval rate: <b>{{ prompt_eval_rate }}</b>
eval count: <b>{{ eval_count }}</b>
eval duration: <b>{{ eval_duration }}</b>
eval rate: <b>{{ eval_rate }}</b>
</code>

<br />

We greatly appreciate your participation in voluntarily providing this data.

</body>

</html>
